*{
    margin: 0;
    padding: 0;
    
}  
body{
    background-color:purple;
}
header{
    text-align: center;
    color: #fff;
    font-family: cursive ,sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}
.textview{
   width:225px;
   border-radius: 2px;
   outline: none;
   border: 1px solid gray;
   margin: 5px;
   color: #111;;
   padding: 5px;
   font-size: 30px;
   font-family: cursive;
  
}
.button{
    min-width: 50px;
    border-radius: 50%;
    margin: 5px;
    border: none;
    outline: none;
    padding: 20px;
    font: size 25;
    font-family: cursive;
    background-color: black;
    color: #fff;
    min-height: 50px;
    cursor: pointer;

}
main{
    position: absolute;
    margin-top: 20px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%)translateY(-50%);
}